
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/AbelRegular.ttf"); font-family : "Abel"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SpaceGroteskLight.ttf"); font-family : "Space Grotesk"; font-weight : 300;  }